results/pcqm4m-subset-GPSlarge-RWSE-LapPE-BigBird/0/ckpt/**
results/pcqm4m-subset-GPSlarge-RWSE-LapPE-Performer/0/ckpt/**
results/pcqm4m-subset-GPSlarge-RWSE-LapPE-Transformer/0/ckpt/**
results/pcqm4m-subset-GPSmedium-RWSE-LapPE-BigBird/0/ckpt/**
results/pcqm4m-subset-GPSmedium-RWSE-LapPE-Performer/0/ckpt/**
results/pcqm4m-subset-GPSmedium-RWSE-LapPE-Transformer/0/ckpt/**
results/pcqm4m-subset-GPSsmall-RWSE-LapPE-BigBird/0/ckpt/**
results/pcqm4m-subset-GPSsmall-RWSE-LapPE-Performer/0/ckpt/**
results/pcqm4m-subset-GPSsmall-RWSE-LapPE-Transformer/0/ckpt/**

results/pese/pcqm4m-full-GPSmedium-Transformer-1-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-2-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-3-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-4-PESE/0/ckpt/**

results/pcqm4m-subset-GPSlarge-RWSE-LapPE-Performer/**
