results/pese/pcqm4m-full-GPSmedium-Transformer-1-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-2-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-3-PESE/0/ckpt/**
results/pese/pcqm4m-full-GPSmedium-Transformer-4-PESE/0/ckpt/**
results/pcqm4m-subset-GPSlarge-RWSE-LapPE-Performer/**
